<% @products.each do |product| %>
  <h2><%= product.name %></h2>
  <h4>Description: <%= product.description %></h4> 
  <h4>Price: <%= product.price %></h4> 

  <a href="/products/ <%= product.id %>">More Info</a> 
  <% end %>
  
  
  
  
  
  
  